<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
  <body>
    <div
      style="
        margin: 20px;
        background: #fff;
        border-radius: 10px;
        padding: 20px 10px;
        box-shadow: 0px 4px 10px gray;
      "
    >
      <h3 th:text="'Hey ' + ${firstName} + ','"></h3>
      <div>
        Please be informed that your user account password has been updated.
        <br /><br />
        If this activity wasn't performed by you, please revoke the account
        password immediately.
        <br /><br />
        <a
          href="gbengabuilds.space"
          style="
            text-align: center;
            background: #4f5ddb;
            color: #fff;
            padding: 6px 10px;
            font-size: 16px;
            border-radius: 3px;
          "
        >
          Manage Account
        </a>
      </div>
      <br />
      Warm Regards,
      <br />
      <span th:text="${APP_NAME}"></span> Team.
    </div>
  </body>
</html>
